<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.bingoogolapple.qrcode.core">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
</manifest>